
<h1>Autores</h1>

<p>
    MAITE MARTÍNEZ DE OSABA ESTÉVEZ.
</p>
<p>
   JAIME VILLAVERDE MORENO.
</p>

<img src="/images/avatar.png" width="200" />
<hr />

<div>
    <img src="/images/perro.png" width="200"/>
</div>